.j2-page {background-color: #171717;}
body {background-color: #171717; color: #ddd;}
.panel-body {background-color: #423E3E;}
.panel-heading {background-color: #4F4A4A !important;}
.profile--displayname {color: #9C9C9C;}
.profile--username {color: #7A7A7A;}
.entry-text {color: #9C9C9C;}
.answerbox .text-muted a, .answerbox .text-muted a:hover {color: #999999;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {color: #ddd;}
.answerbox--question-text {color: #ccc;}
.answerbox--answer-text {color: #eee;}
.panel-title {color: #eee;}
.btn-default {color: white; background-color: #4F4A4A; border-color: #4F4A4A;}
.modal-content {background-color: #171717;}
.close {color: #eee;}
.dropdown-menu {background-color: #262626;}
.dropdown-menu .divider {background-color: #171717;}
.dropdown-menu>li>a {color: #ddd;}
.notification--dropdown-text {color: #ccc;}
.panel-footer {background-color: #4F4A4A; color: #ccc;}
.navbar-inverse {background-color: #7E57C2;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {background-color: #9575CD;}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {background-color: #7E57C2;}
a {color: #7E57C2;}
.btn-primary {background-color: #7E57C2;}
.entry-subtext {color: #7E57C2;}
.profile--header {background-color: #673AB7;}
.sweet-alert {background-color: #171717;}
.sweet-alert h2 {color: #eee;}
.sweet-alert p {color: #eee;}
.sweet-alert button.cancel {background-color: #4F4A4A;}
.form-control {color: #ccc;}
.list-group-item {background-color: #4F4A4A; border-color: #4F4A4A;}