/* all custom SCSS should go into here */

.sweet-overlay {
  z-index: 1031;
}

#nav .logo.image {
  width: 35px;
  margin-right: 1em;
}

.toggle {
  position: fixed;
  margin: 0;
  border: none;
  padding: .78571em .95em;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  background-color: #1b1c1d;
  color: #fff;
}

.login-form {
  margin-top: 2rem;
}

.ui.horizontal.statistic + .ui.horizontal.statistic {
  margin: 0em 0em 0em 0em;
}

.profile {
  position: relative !important;
}

.ui.image > .ribbon.label {
  position: absolute;
  top: 1rem;
  left: -1rem;
}