%noscript
  .ui.negative.message
    Please activate JavaScript.

- flash.each do |key, value|
  .ui.message{class: "alert-#{semantic_color key}", role: "alert"}
    = semantic_icon(:close)
    = value