.item
  .ui.small.inverted.header
    Settings
  .menu
    %a.item{href: edit_user_registration_path}
      Account
   	%a.item{href: edit_user_profile_path}
      Profile
    %a.item{href: edit_user_privacy_path}
      Privacy
    %a.item{href: services_path}
      Sharing   
